h2 {
  color: #1e2018;
  font-size: 35px;
  padding-top: 15px;
  margin-left: 7px;
}

.Date {
  margin-left: 7px;
}

ul {
  color: #1e2018;
  margin: 0 0 8px;
  padding: 0;
  margin-left: 7px;
}

li {
  list-style: none;
  margin-left: 7px;
}

.weather-description::first-letter {
  text-transform: capitalize;
}

.weather-description img {
  margin-right: 5px;
}

.weather-description .active {
  color: #1e2018;
  cursor: default;
}

.weather-description .active:hover {
  text-decoration: none;
}

.units {
  position: relative;
  top: -30px;
}

.search {
  width: 10px;
  padding-right: 0px;
}

.shadow-sm {
  padding: 6px;
}

.current {
  padding-left: 0px;
}
