.current-weather {
  text-transform: capitalize;
}

.city {
  color: #1e2018;
  font-size: 35px;
  padding-top: 15px;
  margin-left: 7px;
}

.Date {
  margin-left: 7px;
}

ul {
  color: #1e2018;
  margin: 0 0 8px;
  padding: 0;
  margin-left: 7px;
}

li {
  list-style: none;
  margin-left: 7px;
}

.search {
  padding-right: 0px;
}

.search-button {
  padding-left: 10px;
}

.shadow-sm {
  padding: 6px;
}

.icon {
  float: left;
}
